<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streamer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
    <button id='my-button'>Start Stream</button>
    <video autoplay id="video"></video>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/streamer.js"></script>

</body>
</html>